* {
    font-size: 20px;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    overflow-y: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    align-content: center;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -0.04em;
        line-height: 1.2;
        display: inline-block;
        padding-right: .2rem;
    }

    .hero-fixed {
        width: 35%;
        height: 100%;
        align-content: center;
        position: relative;
        display: inline-block;
        text-align: right;
    }

    .hero-card {
        transition: transform 3s ease-in-out, opacity .2s ease-out;
        position: absolute;
        width: 65%;
        height: 100%;
        display: inline-flex;
        justify-content: start;
        opacity: 0;

        .hero-element-wrapper {
            width: 50%;
            height: 100%;
            align-content: center;
            display: inline-block;

            h1 {
                display: inline-block;
                position: relative;
                transform: translateX(4rem);
                opacity: 0;
                transition: transform 1s ease-in-out, opacity 1s ease-in-out;
            }

            img {
                height: 40%;
                align-content: center;
                position: relative;
                display: inline-block;
                transform: translateX(4rem);
                opacity: 0;
                transition: transform .8s ease-in-out, opacity 1s ease-in-out;
                z-index: 1;
            }
        }
    }
}

.hero {
    .hero-card.visible {
        transition: none;
        opacity: 1;

        .hero-element-wrapper {
            h1 {
                opacity: 1;
                transform: translateX(0);
                transition: transform 1.6s ease-out, opacity 1.2s ease-in;
            }

            img {
                opacity: 1;
                transform: translateX(0);
                transition: transform 1.1s ease-out, opacity 1.2s ease-in;
            }
        }


    }
}

.gradient-text {
    width: fit-content;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, #f46289, #747DF2);
}

.glow {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    bottom: -60%;
    left: 0;
    background: radial-gradient(ellipse, #747DF2, transparent 70%);
    filter: blur(400px);
    z-index: -1;
}